@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;1,700&family=Mooli&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* ------------------------------------- body */

body {
    padding-top: 20px;
}

/* ----------------------------------- colour */
i {
    color: rgb(139, 0, 0);
}

/* -------------------------------------logo */
.nav-section {
    font-family: "Roboto", sans-serif;
    padding-left: 5px;
}

.section-heading{
    font-family: "Roboto",sans-serif;
    text-align: center;
    padding-top: 20px;
}




/* --------------------------------------text align */

.center-paragraph {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.africa-font {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-left: 5px;
}

/* ------------------------------ images */

.recipe-image {
    border-radius: 50%;
    width: 100px;
}

li {
    float: left;
}

li img {
    display: block;
    text-decoration: none;
    padding: 18px;
}

.center-recipe {
    font-family: "Roboto", sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.recipe-items {
    /* display: flex;
    align-items: center; */
    max-width: 700px;
    margin: auto;
    padding-left: 45px;
}